.agency {
    p {
        margin-bottom: 2px;
    }

    .container {
        @include screen(desktop) {
            padding-left: 32px !important;
            padding-right: 32px !important;
        }
    }

    @include f-roboto;
    @include mx_title;

    .box {
        p {
            font-size: 14px !important;
        }
    }


    .box_step {
        @include box(85px);
        border-radius: 10px;
        background-color: $cl-or;
        color: $clw;
        font-weight: 600;
        font-size: 30px;
        flex: 0 0 auto;
        @include flex-center;
    }



    .line_arrow {
        flex: 1 1 auto;
        display: flex;
        text-align: center;
        color: $cl-or;




    }

    @include screen(mobile) {
        .mark {
            flex-direction: column-reverse;
        }

        .row {
            &>div {
                padding-top: 20px !important;
                padding-bottom: 20px !important;
            }
        }

        .box_step {
            @include box(60px);
        }

        .step {
            flex-direction: column;
            min-height: 900px;
        }

        .line {
            border-left: 2px $cl-or solid;
            border-top: none;
            height: 100%;
            width: 2px;
            margin-left: 29px;
        }

        .box {
            display: flex;

            .txt_step {
                padding-left: 12px;
                @include box(auto, auto);
                flex: 1 1 auto;
                @include flex-start;
                align-items: center !important;
            }

            p {
                margin-top: -3px;
            }


        }

        .arrow {
            position: absolute;
            top: calc(50% - 12px);
            left: calc(30px - 11px);
            transform: rotate(90deg);
        }

        .txt_step {
            li {
                text-transform: none !important;
                font-size: 14px !important;
                font-weight: 500 !important;
            }
        }

        .btn-send-form {
            width: 100% !important;
        }

        .form {
            width: 100%;
            padding: 12px;

        }
    }

    @include screen(skipMobile) {
        .btn-send-form {
            width: 150px !important;
        }

        .row {
            padding-left: 24px;
            padding-right: 24px;
        }

        .step {
            width: 100%;
        }

        .arrow {
            position: absolute;
            top: -10px;
            right: calc(50% - 10px);
        }


        .txt_step {
            @include box(85px, auto);
            flex: 0 0 auto;
            @include flex-center;
            margin-top: 8px;
        }

        .line_arrow {
            margin-top: 40px;
        }

        .line {
            border-top: 2px $cl-or solid;
            height: 2px;
            width: auto;
        }

        .form {
            padding-left: 100px;
            padding-right: 100px;
        }
    }

    .step_form {
        margin-bottom: 20px;

        .active {
            background-color: $cl-or;
            color: $clw;
        }

        ul {
            @include flex-center;
            margin-bottom: 0;

            li {
                height: 55px;
                @include flex-center;
                color: $clw;
                text-transform: uppercase;
                font-size: 18px;
                color: $clBD;
                font-weight: 500;
                flex: 1 1 auto;
            }
        }


    }

    .form {
        min-height: 474px;
    }

    input,
    select,
    option,
    textarea {
        font-size: 14px !important;
    }

    input,
    select,
    textarea {
        background-color: $clE0;
    }
}