$heightLayout: 100%;

@include screen(mobile) {
    .txt_countdown {
        text-align: center;

        p {
            font-size: 22px;
        }
    }

    .title_block {
        font-size: 26px !important;
        text-align: center;
    }

    .count_down_timer {
        padding-bottom: 20px;
        @include flex-center;
        padding-right: 0;
        padding-left: 0;
    }
}

@include screen(skipMobile) {
    .txt_countdown {
        text-align: right;
        padding-bottom: 10px;

        p {
            font-size: 2.1vw;
        }
    }

    .count_down_timer {
        padding-bottom: 12px;
        padding-top: 20px;
    }

    .title_block {
        font-size: 48px;
    }
}


.home_left {
    @include box(100%, $heightLayout);
    position: relative;

    .title {
        display: flex;
        padding: 24px 0 0 25px;
        justify-content: space-around;
        align-items: center;

        p {
            font-family: $FCancel;
            font-size: 28px;
            line-height: 28px;
            color: $cl-yellow;
        }
    }
}



.keno {
    @include bg_img(cover);
    background-image: url('../images/home/choi-thu-trung-that.png');
}

.action {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 24px;
}

.btn-play {
    display: flex;
    align-self: center;
    justify-content: center;
}

.home_right {
    @include box(100%, $heightLayout);
    position: relative;

    .elipse {
        height: 155px;
        background-image: url(../images/home/elipse-box.png);
        background-position: -23px -20px;
        background-size: 114%;
        background-repeat: no-repeat;
        font-family: "UTMCancel", sans-serif !important;
        display: flex;
        align-items: flex-start;
        padding-top: 10px;
        justify-content: center;
        font-size: 33px;
        color: #FFCA07;
    }
}

.keno-right {
    @include bg_img(cover);
    background-image: url('../images/home/xo-so-keno.png');
}

.tip_caption {
    position: relative;
    background: $clw;
    padding: 8px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    bottom: 16px;

    &:after,
    &:before {
        bottom: 99%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $clw;
        border-width: 16px;
        margin-left: -16px;
    }

    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: $clw;
        border-width: 16px;
        margin-left: -16px;
    }
}

.slider_home {
    .carousel-caption {
        bottom: 52px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .carousel-indicators {
        justify-content: flex-start !important;
        bottom: 16px !important;
        left: -28px !important;
    }

    .link_more {
        text-transform: uppercase;
        font-weight: 500;
        color: $clw;
        font-family: $FCancel;
        position: absolute;
        right: -28px;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;
        bottom: -12px !important;
    }
}


.count_down {
    background-color: $cl-yellow;

    &>* {
        font-family: $FRoboto;
    }

    .flipper {
        color: #270104;
        display: block;
        line-height: 100%;
        padding: 0;
        font-weight: 500;
        margin: 0;
        height: 1.7em;
    }

    .flipper.flipper-invisible {
        font-size: 0px !important;
    }

    .flipper-group {
        position: relative;
        white-space: nowrap;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
    }

    .flipper-group label {
        position: absolute;
        color: $cl-or;
        font-size: 16px;
        top: 100%;
        line-height: 1em;
        font-weight: 600;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        text-align: center;
        padding-top: .5em;
    }

    .flipper-digit {
        white-space: nowrap;
        position: relative;
        padding: 0;
        margin: 0;
        display: inline-block;
        float: left;
        height: 1.2em;
        overflow-y: hidden;
    }

    .flipper-digit span {
        font-size: 25%;
    }

    .flipper-delimiter {
        white-space: nowrap;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
        color: #270104;
        min-width: .1em;
        white-space: nowrap;
        display: block;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        line-height: 1em;
    }

    .digit-face {
        display: block;
        visibility: hidden;
        position: relative;
        border-radius: 0.1em;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 8;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 0.1em;
        padding-right: 0.1em;
        box-sizing: border-box;
        text-align: center;
    }

    .digit-next {
        display: block;
        position: relative;
        border-radius: 0.1em;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 8;
        height: 1.2em;
        background: #fff;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 0.1em;
        padding-right: 0.1em;
        box-sizing: border-box;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .digit-top {
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        pointer-events: none;
        overflow: hidden;
        position: absolute;
        background: #fff;
        padding-top: 0.1em;
        padding-bottom: 0;
        padding-left: 0.1em;
        padding-right: 0.1em;
        border-top-left-radius: 0.1em;
        border-top-right-radius: 0.1em;
        box-sizing: border-box;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background 0s linear, -webkit-transform 0s linear;
        transition: transform 0s linear, background 0s linear;
        transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
        -webkit-transform-origin: 0 0.6em 0 !important;
        transform-origin: 0 0.6em 0 !important;
        -webkit-transform-style: preserve-3d !important;
        transform-style: preserve-3d !important;
        z-index: 20;
    }

    .digit-top.r {
        transition: background 0.2s linear, -webkit-transform 0.2s linear;
        transition: transform 0.2s linear, background 0.2s linear;
        transition: transform 0.2s linear, background 0.2s linear, -webkit-transform 0.2s linear;
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
        background: #cccccc;
    }

    .digit-top2 {
        visibility: hidden;
        position: absolute;
        height: 50%;
        left: 0;
        right: 0;
        background: #cccccc;
        transition: -webkit-transform 0.2s linear;
        transition: transform 0.2s linear;
        transition: transform 0.2s linear, -webkit-transform 0.2s linear;
        line-height: 0em !important;
        top: 50% !important;
        bottom: auto !important;
        padding-top: 0;
        padding-bottom: 0.1em;
        padding-left: 0.1em;
        padding-right: 0.1em;
        border-bottom-left-radius: 0.1em;
        border-bottom-right-radius: 0.1em;
        overflow: hidden;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background 0s linear, -webkit-transform 0s linear;
        transition: transform 0s linear, background 0s linear;
        transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-style: preserve-3d !important;
        transform-style: preserve-3d !important;
        -webkit-transform-origin: 0 0 0 !important;
        transform-origin: 0 0 0 !important;
        z-index: 20;
    }

    .digit-top2.r {
        visibility: visible;
        transition: background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
        transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s;
        transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        background: #fff;
    }

    .digit-bottom {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        background: #fff;
        height: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        line-height: 0em;
        padding-top: 0;
        padding-bottom: 0.1em;
        padding-left: 0.1em;
        padding-right: 0.1em;
        border-bottom-left-radius: 0.1em;
        border-bottom-right-radius: 0.1em;
        box-sizing: border-box;
        text-align: center;
        transition: none;
    }

    .digit-bottom.r {
        transition: background 0.2s linear;
        background: #cccccc;
    }

    .flipper-digit:after {
        content: "";
        position: absolute;
        height: 2px;
        top: 50%;
        display: block;
        z-index: 30;
        left: 0;
        right: 0;
    }

    .flipper-dark {
        color: #fff;
    }

    .flipper-dark .flipper-delimiter {
        color: #270104;
    }

    .flipper-dark .digit-next {
        background: #270104;
    }

    .flipper-dark .digit-top {
        background: #270104;
    }

    .flipper-dark .digit-top.r {
        background: black;
    }

    .flipper-dark .digit-top2 {
        background: black;
    }

    .flipper-dark .digit-top2.r {
        background: #270104;
    }

    .flipper-dark .digit-bottom {
        background: #270104;
    }

    .flipper-dark-labels .flipper-group label {
        color: #270104;
    }
}

.map_picker {
    .title_map {
        font-size: 16px;
        background-color: $cl-or;
        color: $clw;
        font-weight: 500;
        line-height: 45px;
        padding: 0 16px;
    }

    .map_mobile {
        display: none;

        @include screen(mobile) {
            display: block;
        }
    }

    .map_desktop {
        display: none;

        @include screen(skipMobile) {
            display: block;
        }
    }

    .result {
        ul {
			max-height: 300px;
			overflow: auto;
        }

        li:not(:first-child) {
            margin-top: 20px;
        }
    }
}