.other_products {
    @include f_roboto;
    @include mx_title;

    .row {
        padding: 16px 43px !important;
        margin-top: 24px !important;

        @include screen(mobile) {
            &>div:first-child {
                margin-bottom: 20px;
            }
        }
    }

    .image_box {
        @include flex-center;
    }

    h2 {
        font-size: 24px !important;
        color: $cl33 !important;
        font-weight: 600 !important;
    }

    p {
        line-height: 26px;
    }

   
}