@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=vietnamese");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* font UTMAzuki */
@font-face {
  font-family: "UTMAzuki";
  src: url("../fonts/UTMAzuki/UTMAzuki.eot");
  src: url("../fonts/UTMAzuki/UTMAzuki.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMAzuki/UTMAzuki.woff") format("woff"), url("../fonts/UTMAzuki/UTMAzuki.ttf") format("truetype"), url("../fonts/UTMAzuki/UTMAzuki.svg#UTMAzuki") format("svg");
  font-weight: normal;
  font-style: normal; }
/* font UTMCancel */
@font-face {
  font-family: "UTMCancel";
  src: url("../fonts/UTMCancel/UTMCancel.eot");
  src: url("../fonts/UTMCancel/UTMCancel.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMCancel/UTMCancel.woff") format("woff"), url("../fonts/UTMCancel/UTMCancel.ttf") format("truetype"), url("../fonts/UTMCancel/UTMCancel.svg#UTMCancel") format("svg");
  font-weight: normal;
  font-style: normal; }
/* font Roboto */
* {
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Roboto", sans-serif; }

.txt_vertical {
  writing-mode: vertical-lr; }

.container,
.container-fluid {
  font-family: "Roboto", sans-serif; }

.fw-100 {
  font-weight: 100 !important; }

.fw-200 {
  font-weight: 200 !important; }

.fw-300 {
  font-weight: 300 !important; }

.fw-400 {
  font-weight: 400 !important; }

.fw-500 {
  font-weight: 500 !important; }

.fw-600 {
  font-weight: 600 !important; }

.fw-700 {
  font-weight: 700 !important; }

.fw-800 {
  font-weight: 800 !important; }

.fz-10 {
  font-size: 10px !important; }

.fz-11 {
  font-size: 11px !important; }

.fz-12 {
  font-size: 12px !important; }

.fz-13 {
  font-size: 13px !important; }

.fz-14 {
  font-size: 14px !important; }

.fz-15 {
  font-size: 15px !important; }

.fz-16 {
  font-size: 16px !important; }

.fz-17 {
  font-size: 17px !important; }

.fz-18 {
  font-size: 18px !important; }

.fz-19 {
  font-size: 19px !important; }

.fz-20 {
  font-size: 20px !important; }

.fz-21 {
  font-size: 21px !important; }

.fz-22 {
  font-size: 22px !important; }

.fz-23 {
  font-size: 23px !important; }

.fz-24 {
  font-size: 24px !important; }

.fz-25 {
  font-size: 25px !important; }

.fz-26 {
  font-size: 26px !important; }

.fz-27 {
  font-size: 27px !important; }

.fz-28 {
  font-size: 28px !important; }

.fz-29 {
  font-size: 29px !important; }

.fz-30 {
  font-size: 30px !important; }

.fz-31 {
  font-size: 31px !important; }

.fz-32 {
  font-size: 32px !important; }

.fz-33 {
  font-size: 33px !important; }

.fz-34 {
  font-size: 34px !important; }

.fz-35 {
  font-size: 35px !important; }

.fz-36 {
  font-size: 36px !important; }

.fz-37 {
  font-size: 37px !important; }

.fz-38 {
  font-size: 38px !important; }

.fz-39 {
  font-size: 39px !important; }

.fz-40 {
  font-size: 40px !important; }

.fz-41 {
  font-size: 41px !important; }

.fz-42 {
  font-size: 42px !important; }

.fz-43 {
  font-size: 43px !important; }

.fz-44 {
  font-size: 44px !important; }

.fz-45 {
  font-size: 45px !important; }

.fz-46 {
  font-size: 46px !important; }

.fz-47 {
  font-size: 47px !important; }

.fz-48 {
  font-size: 48px !important; }

.fz-49 {
  font-size: 49px !important; }

.text-or {
  color: #F15922 !important; }

.text-82 {
  color: #828282 !important; }

.title_primary {
  color: #F15922; }

.text-black {
  color: #000; }

.date_txt {
  color: #BDBDBD !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%; }

.text-truncate-2 {
  padding: 4px 8px !important;
  display: -webkit-box !important;
  max-height: 56px !important;
  margin: 0 auto !important;
  font-size: 14px !important;
  line-height: 21px !important;
  -webkit-box-orient: vertical !important;
  box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-line-clamp: 2 !important;
  white-space: pre-line !important;
  margin-bottom: 0 !important; }

.btn {
  font-family: "Roboto", sans-serif !important; }

.btn-signup {
  background: linear-gradient(180deg, #F7A051 0%, #F25822 100%);
  color: #ffffff !important; }

.btn-base {
  background: radial-gradient(60px at 50% 0%, #F7A051 0%, #F25822 100%) !important;
  color: #ffffff !important;
  font-size: 16px !important;
  font-family: "UTMCancel", sans-serif !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  cursor: pointer !important; }

.btn-login {
  color: #828282 !important;
  background-color: #E0E0E0 !important; }

.btn-user {
  border-radius: 5px;
  width: 110px;
  height: 35px;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 19px; }

.btn-search {
  border: none !important;
  outline: none !important;
  position: absolute;
  right: 8px;
  top: 2px; }
  .btn-search:active {
    outline: none !important; }
  .btn-search i {
    color: #0D0001; }

.btn-custom {
  background: linear-gradient(180deg, #F7A051 0%, #F25822 100%) !important;
  color: #FFF !important;
  font-size: 16px;
  line-height: 19px; }

.btn-load-more {
  background-color: #E0E0E0 !important;
  padding: 8px 32px !important;
  color: #BDBDBD !important;
  font-weight: 500 !important; }

.btn-fontCancel {
  background: radial-gradient(44px at 50% 0%, #F7A051 0%, #F25822 100%) !important;
  padding: 8px 32px !important;
  color: #FFFFFF !important;
  font-family: "UTMCancel", sans-serif !important;
  font-weight: bold; }

#page-content-wrapper {
  overflow: auto; }
  #page-content-wrapper::-webkit-scrollbar {
    display: none !important; }

footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/common/bg_footer.png");
  font-family: "Roboto", sans-serif !important;
  padding: 24px 0;
  position: relative; }
  @media only screen and (max-width: 767px) {
    footer {
      margin-top: 180px; } }
  footer hr {
    border-top: 2px solid rgba(255, 255, 255, 0.1); }
  footer ul {
    margin-top: 24px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer ul li:not(:last-child) {
      margin-right: 16px !important; }
    footer ul li a {
      color: #FFFFFF;
      font-weight: 500; }
  footer .txt_footer:last-child {
    text-align: right; }
    @media only screen and (max-width: 767px) {
      footer .txt_footer:last-child {
        text-align: left;
        margin-top: 12px; } }
  footer .txt_footer p {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 19px;
    margin: 0 !important; }
  footer .box_footer {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    padding: 8px 12px;
    height: 100px; }
    @media only screen and (max-width: 767px) {
      footer .box_footer {
        margin-top: 12px; } }
    footer .box_footer:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    footer .box_footer p {
      margin-bottom: 0; }
    footer .box_footer img {
      margin-bottom: 12px; }
    footer .box_footer .title_organize {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px; }
    footer .box_footer .line {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      font-weight: 500; }
    footer .box_footer .image_prefix {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      margin-right: 9px; }
    footer .box_footer .img_18 {
      background-image: url("../images/common/18.png"); }
    footer .box_footer .img_secu {
      background-image: url("../images/home/security.png"); }

.layout-fixleft {
  position: fixed;
  top: 20%;
  z-index: 9999;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }
  .layout-fixleft:hover .tip_fixed {
    display: flex; }
  .layout-fixleft .tip_fixed {
    display: none;
    background: #FFFFFF;
    padding: 8px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    border-radius: 5px;
    padding: 16px 12px;
    top: 12px;
    right: 90px; }
    .layout-fixleft .tip_fixed:after, .layout-fixleft .tip_fixed:before {
      left: 104%;
      top: 40%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .layout-fixleft .tip_fixed:after {
      border-color: rgba(136, 183, 213, 0);
      border-left-color: #FFFFFF;
      border-width: 8px;
      margin-left: -8px; }
    .layout-fixleft .tip_fixed:before {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: #FFFFFF;
      border-width: 8px;
      margin-left: -8px; }
    .layout-fixleft .tip_fixed .icon_award {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      background-image: url("../images//icons/award.png"); }
    .layout-fixleft .tip_fixed .txt_award {
      width: 100px;
      font-family: "UTMAzuki", serif !important;
      font-size: 22px;
      line-height: 27px; }
  .layout-fixleft .god_fixed {
    width: 70px; }
    @media only screen and (max-width: 767px) {
      .layout-fixleft .god_fixed {
        width: 54px; } }
  .layout-fixleft .btn-fixed {
    background: linear-gradient(180deg, #F7A051 0%, #F25822 100%);
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; }
  .layout-fixleft .btn-call {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px !important; }
  .layout-fixleft .btn-location {
    width: 40px;
    height: 125px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 0px 5px 5px 0px !important;
    transform: rotate(180deg); }
    .layout-fixleft .btn-location i {
      transform: rotate(90deg); }

#sidebar-wrapper {
  overflow: auto;
  margin-left: -17rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #0D0001 !important; }
  #sidebar-wrapper .list-group-item {
    background-color: transparent !important;
    font-family: "UTMCancel", sans-serif !important;
    padding: 0 0 0 30px !important;
    font-size: 17px !important;
    line-height: 50px !important;
    letter-spacing: 0.02em !important; }
    #sidebar-wrapper .list-group-item:hover {
      background-color: #F15922 !important;
      transition: all ease-in 0.3s; }
  #sidebar-wrapper .menu-active {
    background-color: #F15922 !important; }

#sidebar-wrapper .sidebar-heading {
  padding: 30px 53px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center; }

@media only screen and (max-width: 767px) {
  #page-content-wrapper {
    width: 100%; } }

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0; }

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0; }

  #page-content-wrapper {
    min-width: 0;
    width: 100%; }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -17rem; } }
.social {
  padding-left: 30px;
  margin-top: 22px;
  position: initial; }
  .social img {
    cursor: pointer; }
  .social > div:not(:last-child) {
    margin-right: 16px; }

.tip {
  position: relative;
  display: none;
  background: #FFFFFF;
  padding: 8px;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  border-radius: 5px;
  padding: 11px;
  bottom: 42px;
  z-index: 9999; }
  .tip:after, .tip:before {
    top: 99%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .tip:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #FFFFFF;
    border-width: 8px;
    margin-left: -8px; }
  .tip:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #FFFFFF;
    border-width: 8px;
    margin-left: -8px; }

.txt_speak {
  background-color: #FFFFFF !important;
  width: 130px; }

.tip-fb {
  left: 15px; }

.tip-zalo {
  left: 60px; }

.tip-youtube {
  left: 105px; }

.icon_speak {
  background-image: url("../images/icons/speaker.png"); }

.icon_tip {
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 12px; }

.icon_fb:hover .tip-fb {
  display: flex; }

.icon_zalo:hover .tip-zalo {
  display: flex; }

.icon_youtube:hover .tip-youtube {
  display: flex; }

.search_input {
  background-color: #E0E0E0 !important;
  padding-right: 48px !important; }
  @media only screen and (min-width: 1024px) {
    .search_input {
      width: 600px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .search_input {
      width: 450px; } }
  @media only screen and (max-width: 767px) {
    .search_input {
      width: 450px; } }

.menu_top {
  position: sticky !important;
  top: 0;
  padding: 15px 30px !important;
  z-index: 9999; }
  .menu_top #menu-toggle {
    display: none; }
  .menu_top .menu_left {
    padding: 0 !important;
    justify-content: flex-end; }
  .menu_top .lg-primary {
    display: none;
    width: 52px;
    margin-right: 12px; }
  @media only screen and (min-width: 1280px) {
    .menu_top .lg-vietlote {
      display: block; } }
  @media only screen and (max-width: 1279px) {
    .menu_top .lg-vietlote {
      display: none; } }
  @media only screen and (max-width: 767px) {
    .menu_top {
      flex-direction: column-reverse;
      padding: 8px !important; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    .menu_top #menu-toggle {
      display: block;
      font-size: xx-large; } }
  @media only screen and (max-width: 767px) {
      .menu_top .lg-primary {
        display: block; }
      .menu_top .btn-login {
        margin-right: 0 !important; }
      .menu_top .btn-login,
      .menu_top .btn-signup {
        font-size: 14px !important;
        width: 80px;
        padding: 6px 0; }
      .menu_top .menu_left {
        padding: 0 !important;
        justify-content: space-between !important; }
      .menu_top .search_box {
        padding: 0 !important; } }
  .menu_top .alert_count {
    position: absolute;
    font-size: 8px;
    width: 16px;
    height: 16px;
    text-align: center;
    right: -4px;
    top: -5px;
    border-radius: 50%;
    color: #FFF;
    line-height: 16px;
    background-color: #F15922; }
  .menu_top .fa-bell {
    position: relative !important; }

.search_box {
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  background-color: #f0f0f0 !important; }

.container,
.container-custom {
  overflow-y: auto;
  margin-bottom: 48px; }
  .container::-webkit-scrollbar,
  .container-custom::-webkit-scrollbar {
    display: none !important; }

@media only screen and (min-width: 1024px) {
  .container-custom {
    margin-left: 100px;
    width: 860px;
    margin-left: 100px; } }
@media only screen and (min-width: 1919px) {
  .container-custom {
    margin-left: 100px;
    width: 1400px;
    margin-left: 100px; } }
@media only screen and (max-width: 767px) {
  .container-custom .row > div {
    margin-top: 16px; } }

.show {
  display: block !important; }

.back_to_top {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("../images/common/back-to-top.png");
  width: 175.16px;
  height: 170px;
  cursor: pointer;
  right: 24px !important;
  display: none;
  transition: ease-in 0.3 all; }
  @media only screen and (max-width: 767px) {
    .back_to_top {
      right: calc(50% - 69px) !important; } }

.pointer {
  cursor: pointer !important; }

.w-100vw {
  width: 96vw !important; }

.img-cover {
  object-fit: cover !important; }

::-webkit-scrollbar {
  width: 6px !important;
  height: 10px !important; }

::-webkit-scrollbar-track {
  background: transparent !important; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.7); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333; }

@media only screen and (max-width: 767px) {
  .txt_countdown {
    text-align: center; }
    .txt_countdown p {
      font-size: 22px; }

  .title_block {
    font-size: 26px !important;
    text-align: center; }

  .count_down_timer {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    padding-left: 0; } }
@media only screen and (min-width: 768px) {
  .txt_countdown {
    text-align: right;
    padding-bottom: 10px; }
    .txt_countdown p {
      font-size: 2.1vw; }

  .count_down_timer {
    padding-bottom: 12px;
    padding-top: 20px; }

  .title_block {
    font-size: 48px; } }
.home_left {
  width: 100%;
  height: 100%;
  position: relative; }
  .home_left .title {
    display: flex;
    padding: 24px 0 0 25px;
    justify-content: space-around;
    align-items: center; }
    .home_left .title p {
      font-family: "UTMCancel", sans-serif !important;
      font-size: 28px;
      line-height: 28px;
      color: #FFCA07; }

.keno {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/home/choi-thu-trung-that.png"); }

.action {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 24px; }

.btn-play {
  display: flex;
  align-self: center;
  justify-content: center; }

.home_right {
  width: 100%;
  height: 100%;
  position: relative; }
  .home_right .elipse {
    height: 155px;
    background-image: url(../images/home/elipse-box.png);
    background-position: -23px -20px;
    background-size: 114%;
    background-repeat: no-repeat;
    font-family: "UTMCancel", sans-serif !important;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    justify-content: center;
    font-size: 33px;
    color: #FFCA07; }

.keno-right {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/home/xo-so-keno.png"); }

.tip_caption {
  position: relative;
  background: #FFFFFF;
  padding: 8px;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  bottom: 16px; }
  .tip_caption:after, .tip_caption:before {
    bottom: 99%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .tip_caption:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFFFFF;
    border-width: 16px;
    margin-left: -16px; }
  .tip_caption:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #FFFFFF;
    border-width: 16px;
    margin-left: -16px; }

.slider_home .carousel-caption {
  bottom: 52px !important;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.slider_home .carousel-indicators {
  justify-content: flex-start !important;
  bottom: 16px !important;
  left: -28px !important; }
.slider_home .link_more {
  text-transform: uppercase;
  font-weight: 500;
  color: #FFFFFF;
  font-family: "UTMCancel", sans-serif !important;
  position: absolute;
  right: -28px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  bottom: -12px !important; }

.count_down {
  background-color: #FFCA07; }
  .count_down > * {
    font-family: "Roboto", sans-serif; }
  .count_down .flipper {
    color: #270104;
    display: block;
    line-height: 100%;
    padding: 0;
    font-weight: 500;
    margin: 0;
    height: 1.7em; }
  .count_down .flipper.flipper-invisible {
    font-size: 0px !important; }
  .count_down .flipper-group {
    position: relative;
    white-space: nowrap;
    display: block;
    float: left;
    padding: 0;
    margin: 0; }
  .count_down .flipper-group label {
    position: absolute;
    color: #F15922;
    font-size: 16px;
    top: 100%;
    line-height: 1em;
    font-weight: 600;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    padding-top: .5em; }
  .count_down .flipper-digit {
    white-space: nowrap;
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    height: 1.2em;
    overflow-y: hidden; }
  .count_down .flipper-digit span {
    font-size: 25%; }
  .count_down .flipper-delimiter {
    white-space: nowrap;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    color: #270104;
    min-width: .1em;
    white-space: nowrap;
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    line-height: 1em; }
  .count_down .digit-face {
    display: block;
    visibility: hidden;
    position: relative;
    border-radius: 0.1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    box-sizing: border-box;
    text-align: center; }
  .count_down .digit-next {
    display: block;
    position: relative;
    border-radius: 0.1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    height: 1.2em;
    background: #fff;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .count_down .digit-top {
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    background: #fff;
    padding-top: 0.1em;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background 0s linear, -webkit-transform 0s linear;
    transition: transform 0s linear, background 0s linear;
    transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
    -webkit-transform-origin: 0 0.6em 0 !important;
    transform-origin: 0 0.6em 0 !important;
    -webkit-transform-style: preserve-3d !important;
    transform-style: preserve-3d !important;
    z-index: 20; }
  .count_down .digit-top.r {
    transition: background 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear, -webkit-transform 0.2s linear;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background: #cccccc; }
  .count_down .digit-top2 {
    visibility: hidden;
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    background: #cccccc;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    line-height: 0em !important;
    top: 50% !important;
    bottom: auto !important;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    overflow: hidden;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background 0s linear, -webkit-transform 0s linear;
    transition: transform 0s linear, background 0s linear;
    transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-style: preserve-3d !important;
    transform-style: preserve-3d !important;
    -webkit-transform-origin: 0 0 0 !important;
    transform-origin: 0 0 0 !important;
    z-index: 20; }
  .count_down .digit-top2.r {
    visibility: visible;
    transition: background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: #fff; }
  .count_down .digit-bottom {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    background: #fff;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    line-height: 0em;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    box-sizing: border-box;
    text-align: center;
    transition: none; }
  .count_down .digit-bottom.r {
    transition: background 0.2s linear;
    background: #cccccc; }
  .count_down .flipper-digit:after {
    content: "";
    position: absolute;
    height: 2px;
    top: 50%;
    display: block;
    z-index: 30;
    left: 0;
    right: 0; }
  .count_down .flipper-dark {
    color: #fff; }
  .count_down .flipper-dark .flipper-delimiter {
    color: #270104; }
  .count_down .flipper-dark .digit-next {
    background: #270104; }
  .count_down .flipper-dark .digit-top {
    background: #270104; }
  .count_down .flipper-dark .digit-top.r {
    background: black; }
  .count_down .flipper-dark .digit-top2 {
    background: black; }
  .count_down .flipper-dark .digit-top2.r {
    background: #270104; }
  .count_down .flipper-dark .digit-bottom {
    background: #270104; }
  .count_down .flipper-dark-labels .flipper-group label {
    color: #270104; }

.map_picker .title_map {
  font-size: 16px;
  background-color: #F15922;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 45px;
  padding: 0 16px; }
.map_picker .map_mobile {
  display: none; }
  @media only screen and (max-width: 767px) {
    .map_picker .map_mobile {
      display: block; } }
.map_picker .map_desktop {
  display: none; }
  @media only screen and (min-width: 768px) {
    .map_picker .map_desktop {
      display: block; } }
.map_picker .result ul {
  max-height: 300px;
  overflow: auto; }
.map_picker .result li:not(:first-child) {
  margin-top: 20px; }

.account_info h1,
.account_info h2 {
  color: #F15922 !important;
  font-size: 36px !important;
  font-weight: 600 !important; }
@media only screen and (max-width: 767px) {
  .account_info h1,
  .account_info h2 {
    font-size: 26px !important; }
  .account_info h3 {
    font-size: 22px !important; } }
.account_info * p,
.account_info * a {
  margin-bottom: 0 !important; }
.account_info button {
  font-family: "Roboto", sans-serif !important; }
.account_info .card-header {
  border-bottom: none !important; }
  .account_info .card-header::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f077' !important;
    float: right; }
  .account_info .card-header h5 {
    float: left !important; }
.account_info .collapsed::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f078' !important;
  float: right;
  color: #828282; }
.account_info .collapse {
  clear: both !important; }
.account_info li {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .account_info li p {
    font-size: 14px;
    line-height: 130% !important;
    font-weight: 500 !important; }
    .account_info li p:first-child {
      color: #828282 !important; }
    .account_info li p:last-child {
      color: #270104 !important; }

@media only screen and (max-width: 767px) {
  .code_pro {
    max-width: 100vw; } }

.alert_custom {
  max-height: 300px;
  overflow-y: auto; }

.quote {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-image: url("../images/icons/quote.png");
  background-position: 95% bottom !important; }
  .quote p {
    margin-bottom: 0.5rem; }

.author {
  color: #F15922;
  font-weight: 600;
  font-size: 24px; }

.famous h1,
.famous h2 {
  color: #F15922 !important;
  font-size: 36px !important;
  font-weight: 600 !important; }
@media only screen and (max-width: 767px) {
  .famous h1,
  .famous h2 {
    font-size: 26px !important; }
  .famous h3 {
    font-size: 22px !important; } }
@media only screen and (min-width: 480x) {
  .famous .row .col-md-6:not(:first-child) {
    margin-top: 24px !important; } }
@media only screen and (max-width: 767px) {
  .famous .row:nth-child(even) {
    display: flex !important;
    flex-direction: column-reverse !important; } }
.famous .row > div {
  padding: 20px !important; }

.responsibility *:not(i) {
  font-family: "Roboto", sans-serif; }
.responsibility .card-title {
  color: #333333 !important;
  font-size: 20px;
  font-weight: 600; }
.responsibility .card-text {
  font-size: 14px !important;
  line-height: 140%; }
.responsibility .row > div {
  margin-top: 24px; }
.responsibility img {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px; }
.responsibility h3 {
  font-size: 20px !important; }
.responsibility p {
  margin-bottom: 1rem !important; }
.responsibility ol {
  padding-left: 40px !important; }
.responsibility ol li {
  list-style-type: decimal !important; }
.responsibility .related-news .card {
  flex-direction: row;
  align-items: center;
  display: flex;
  background-color: transparent !important;
  border: none !important; }
  .responsibility .related-news .card .card-body {
    padding: 0 0 0 20px !important; }
  .responsibility .related-news .card .card-title {
    font-size: 14px !important;
    color: #333333 !important; }
  .responsibility .related-news .card p:last-child {
    margin-bottom: 0 !important; }
  .responsibility .related-news .card img {
    margin-bottom: 0 !important; }
  .responsibility .related-news .card:not(:first-child) {
    margin-top: 16px; }
  .responsibility .related-news .card div:first-child {
    flex: 0 0 40% !important; }

.rulers *:not(i) {
  font-family: "Roboto", sans-serif; }
.rulers h1,
.rulers h2 {
  color: #F15922 !important;
  font-size: 36px !important;
  font-weight: 600 !important; }
@media only screen and (max-width: 767px) {
  .rulers h1,
  .rulers h2 {
    font-size: 26px !important; }
  .rulers h3 {
    font-size: 22px !important; } }
.rulers::-webkit-scrollbar {
  display: none !important; }
.rulers .content_rule {
  font-size: 16px;
  overflow-y: auto !important; }
  .rulers .content_rule::-webkit-scrollbar {
    display: none !important; }
.rulers .list-group .list-group-item {
  margin-top: 10px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border: none !important;
  text-align: center !important;
  font-size: 16px !important;
  line-height: 18px !important;
  color: #828282;
  border-radius: .25rem !important; }
.rulers .list-group .active {
  color: #FFFFFF !important;
  background-color: #F15922 !important; }
.rulers p {
  margin-bottom: 0.125rem !important; }
.rulers h3 {
  margin: 16px 0; }
.rulers .txt_strong {
  font-weight: 600;
  color: #F15922; }
.rulers h4 {
  font-size: 20px; }
.rulers img {
  margin: 10px 0 !important; }
.rulers .card {
  padding: 8px 20px !important;
  border: none !important;
  border-radius: 0 !important; }
  .rulers .card:not(:first-child) {
    margin-top: 20px; }
.rulers .card-header {
  border-bottom: none !important;
  background-color: #FFFFFF !important;
  font-size: 16px !important; }
  .rulers .card-header::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f077' !important;
    float: right;
    color: #828282; }
  .rulers .card-header h5 {
    float: left !important;
    font-size: 16px !important; }
.rulers .collapsed::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f078' !important;
  float: right; }
.rulers .collapse {
  clear: both !important; }

.other_products *:not(i) {
  font-family: "Roboto", sans-serif; }
.other_products h1,
.other_products h2 {
  color: #F15922 !important;
  font-size: 36px !important;
  font-weight: 600 !important; }
@media only screen and (max-width: 767px) {
  .other_products h1,
  .other_products h2 {
    font-size: 26px !important; }
  .other_products h3 {
    font-size: 22px !important; } }
.other_products .row {
  padding: 16px 43px !important;
  margin-top: 24px !important; }
  @media only screen and (max-width: 767px) {
    .other_products .row > div:first-child {
      margin-bottom: 20px; } }
.other_products .image_box {
  display: flex;
  align-items: center;
  justify-content: center; }
.other_products h2 {
  font-size: 24px !important;
  color: #333333 !important;
  font-weight: 600 !important; }
.other_products p {
  line-height: 26px; }

.contact *:not(i) {
  font-family: "Roboto", sans-serif; }
.contact h1,
.contact h2 {
  color: #F15922 !important;
  font-size: 36px !important;
  font-weight: 600 !important; }
@media only screen and (max-width: 767px) {
  .contact h1,
  .contact h2 {
    font-size: 26px !important; }
  .contact h3 {
    font-size: 22px !important; } }
.contact p {
  margin-bottom: 0;
  line-height: 26px; }
.contact .row > div {
  padding: 16px; }
.contact .prefix {
  width: 24px;
  height: 25.6px;
  background-image: url("../images/icons/prefix.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 20px;
  flex: 0 0 auto; }
.contact .txt {
  flex: 1 1 auto; }

.partner h1,
.partner h2 {
  color: #F15922 !important;
  font-size: 36px !important;
  font-weight: 600 !important; }
@media only screen and (max-width: 767px) {
  .partner h1,
  .partner h2 {
    font-size: 26px !important; }
  .partner h3 {
    font-size: 22px !important; } }
.partner *:not(i) {
  font-family: "Roboto", sans-serif; }
.partner .type_partner {
  font-size: 20px;
  line-height: 120%;
  color: #F15922;
  font-weight: 600; }
.partner .title_partner {
  font-size: 30px;
  line-height: 35px;
  color: #333333;
  font-weight: bold;
  margin-top: 16px; }
.partner .link_partner {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #828282; }
.partner .item_partner {
  flex: 1 1 auto; }
@media only screen and (max-width: 767px) {
  .partner .title_partner {
    font-size: 20px;
    line-height: 130%; } }

.agency p {
  margin-bottom: 2px; }
@media only screen and (min-width: 1024px) {
  .agency .container {
    padding-left: 32px !important;
    padding-right: 32px !important; } }
.agency *:not(i) {
  font-family: "Roboto", sans-serif; }
.agency h1,
.agency h2 {
  color: #F15922 !important;
  font-size: 36px !important;
  font-weight: 600 !important; }
@media only screen and (max-width: 767px) {
  .agency h1,
  .agency h2 {
    font-size: 26px !important; }
  .agency h3 {
    font-size: 22px !important; } }
.agency .box p {
  font-size: 14px !important; }
.agency .box_step {
  width: 85px;
  height: 85px;
  border-radius: 10px;
  background-color: #F15922;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }
.agency .line_arrow {
  flex: 1 1 auto;
  display: flex;
  text-align: center;
  color: #F15922; }
@media only screen and (max-width: 767px) {
  .agency .mark {
    flex-direction: column-reverse; }
  .agency .row > div {
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
  .agency .box_step {
    width: 60px;
    height: 60px; }
  .agency .step {
    flex-direction: column;
    min-height: 900px; }
  .agency .line {
    border-left: 2px #F15922 solid;
    border-top: none;
    height: 100%;
    width: 2px;
    margin-left: 29px; }
  .agency .box {
    display: flex; }
    .agency .box .txt_step {
      padding-left: 12px;
      width: auto;
      height: auto;
      flex: 1 1 auto;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      align-items: center !important; }
    .agency .box p {
      margin-top: -3px; }
  .agency .arrow {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(30px - 11px);
    transform: rotate(90deg); }
  .agency .txt_step li {
    text-transform: none !important;
    font-size: 14px !important;
    font-weight: 500 !important; }
  .agency .btn-send-form {
    width: 100% !important; }
  .agency .form {
    width: 100%;
    padding: 12px; } }
@media only screen and (min-width: 768px) {
  .agency .btn-send-form {
    width: 150px !important; }
  .agency .row {
    padding-left: 24px;
    padding-right: 24px; }
  .agency .step {
    width: 100%; }
  .agency .arrow {
    position: absolute;
    top: -10px;
    right: calc(50% - 10px); }
  .agency .txt_step {
    width: 85px;
    height: auto;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px; }
  .agency .line_arrow {
    margin-top: 40px; }
  .agency .line {
    border-top: 2px #F15922 solid;
    height: 2px;
    width: auto; }
  .agency .form {
    padding-left: 100px;
    padding-right: 100px; } }
.agency .step_form {
  margin-bottom: 20px; }
  .agency .step_form .active {
    background-color: #F15922;
    color: #FFFFFF; }
  .agency .step_form ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0; }
    .agency .step_form ul li {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 18px;
      color: #BDBDBD;
      font-weight: 500;
      flex: 1 1 auto; }
.agency .form {
  min-height: 474px; }
.agency input,
.agency select,
.agency option,
.agency textarea {
  font-size: 14px !important; }
.agency input,
.agency select,
.agency textarea {
  background-color: #E0E0E0; }

/*# sourceMappingURL=styles.css.map */
