.btn {
    font-family: $FRoboto !important;
}

.btn-signup {
    background: linear-gradient(180deg, #F7A051 0%, #F25822 100%);
    color: #ffffff !important;
}

.btn-base {
    background: radial-gradient(60.00px at 50% 0%, #F7A051 0%, #F25822 100%) !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-family: $FCancel;
    padding-left: 24px !important;
    padding-right: 24px !important;
    cursor: pointer !important;
}

.btn-login {
    color: $cl82 !important;
    background-color: $clE0 !important;

}

.btn-user {
    border-radius: 5px;
    width: 110px;
    height: 35px;
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 19px;
}



.btn-search {
    border: none !important;
    outline: none !important;
    position: absolute;
    right: 8px;
    top: 2px;

    &:active {
        outline: none !important;
    }

    i {
        color: $cl-black;
    }
}

.btn-custom {
    background: linear-gradient(180deg, #F7A051 0%, #F25822 100%) !important;
    color: #FFF !important;
    font-size: 16px;
    line-height: 19px;

}

.btn-load-more {
    background-color: $clE0 !important;
    padding: 8px 32px !important;
    color: $clBD !important;
    font-weight: 500 !important;
}

.btn-fontCancel {
    background: radial-gradient(44.00px at 50% 0%, #F7A051 0%, #F25822 100%) !important;
    padding: 8px 32px !important;
    color: $clw !important;
    font-family: $FCancel;
    font-weight: bold;
}