body {
    background-color: $clF0 !important;
}

.container,
.container-custom {
    overflow-y: auto;
    margin-bottom: 48px;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

.container-custom {
    @include screen(desktop) {
        margin-left: 100px;
        width: 860px;
        margin-left: 100px;
    }

    @include screen('(min-width: 1919px)') {
        margin-left: 100px;
        width: 1400px;
        margin-left: 100px;
    }

    .row>div {
        @include screen(mobile) {
            margin-top: 16px;
        }
    }
}

.show {
    display: block !important;
}

.back_to_top {
    @include bg_img;
    background-image: url('../images/common/back-to-top.png');
    width: 175.16px;
    height: 170px;
    cursor: pointer;
    // position: fixed;
    // bottom: 448px;
    right: 24px !important;
    display: none;
    transition: ease-in 0.3 all;

    @include screen(mobile) {
        right: calc(50% - 69px) !important;
    }
}

.pointer {
    cursor: pointer !important;
}

.w-100vw {
    width: 96vw !important;
}

.img-cover {
    object-fit: cover !important;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 10px !important;
}

//* Track */

::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba($color: $cl33, $alpha: 0.7);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $cl33, $alpha: 1);
}